*{
    box-sizing: border-box;
    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* TOP SECTION */
.top-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #1f2937;
}
.header,
.hero{
    /* border: 1px solid black; */
    padding: 25px;
    
}

ul{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
}

a:link{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header{
    display: flex;
    justify-content: space-around;
}


h1,
p{
    padding: 0;
    margin: 0;
}
h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.content{
display: flex;
flex-direction: column;
flex-basis: 225px;
}

.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-section p{
    color: #e5e7eb;
    font-size: 18px;
}

.image-placeholder{
    background-color: #666a6d;
    padding: 48px
}

button{
    background-color: #3882f6;
    padding: 5px;
}
.header-logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

/* PICS SECTION */

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;

}

img{
    max-width: 100px;
    max-height: 100px;
}

.info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container{
    display: flex;
}
.img-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-basis: 200px;
    border: 1px solid red;
}